
	
/*atlernative method: https://css-tricks.com/perfect-full-page-background-image/

HTML
<div id="bg">
  <img src="images/bg.jpg" alt="">
</div>
CSS
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

*/
	body{ 
		background: url('pictures/4198785846781.jpg') no-repeat center center fixed ;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;}

	#wellness, #daily, #critical, #master_list, #important, #future_importance{
		height: 700px;
		width: 275px;
		border:10px;
		padding: 10px;
		margin: 20px;
		border-style: ridge;
		




	}

	#start{
		height: 300px;
		width: 300px
		border:10px;
		padding: 10px;
		margin: 20px;
		border-style: ridge;
		background-color: white;
		border-color: black;

	}

	#wellness{
		background-color: green;	
		border-color: rgb(100,100,100);
		

	}

	#notes{
		background-color: lightblue;
	}

	#daily{
		background-color: #265A88;/*rgb(100,100,255);*/
		border-color: rgb(0,0,100);
		float: left !important;
		
	}

	#critical{
		background-color: #C12E2A; /*rgb(255,100,100);*/
		border-color: rgb(100,0,0);
		 
		float: left !important;
	}


	#important{
		background-color: #EB9316 ; /*rgb(255,165,165);*/
		border-color: rgb(100,0,0);
		float: left !important;
    }
    #future_importance{
		background-color: #2AABD2; /*rgb(255,200,200);*/
		border-color: rgb(100,0,0);
		float: left !important;	
	}


/*sort by special >> chronological order  keep highlighted by displaying what category they started in and what priority level they're on*/
	#finish{
		float: left !important;
	}
	
	#master_list{
		background-color: rgb(225,225,225);
		border-color: rgb(150,150,150);
		float: left !important;
	}

#nav ul{
  display: none;
}


