
	
	h2{
		text-decoration: underline;
	}
	

	#wellness, #daily, #critical, #master_list, #important, #future_importance{
		height: 700px;
		width: 275px;
		border:10px;
		padding: 10px;
		margin: 20px;
		border-style: ridge;
	}


	#wellness{
		background-color: green;	
		border-color: rgb(100,100,100);
		

	}

	#notes{
		background-color: lightblue;
	}

	#daily{
		background-color: #265A88;/*rgb(100,100,255);*/
		border-color: rgb(0,0,100);
		float: left !important;
		
	}

	#critical{
		background-color: #C12E2A; /*rgb(255,100,100);*/
		border-color: rgb(100,0,0);
		 
		float: left !important;
	}


	#important{
		background-color: #EB9316 ; /*rgb(255,165,165);*/
		border-color: rgb(100,0,0);
		float: left !important;
    }
    #future_importance{
		background-color: #2AABD2; /*rgb(255,200,200);*/
		border-color: rgb(100,0,0);
		float: left !important;	
	}


/*sort by special >> chronological order  keep highlighted by displaying what category they started in and what priority level they're on*/
	#finish{
		float: left !important;
	}
	
	#master_list{
		background-color: rgb(225,225,225);
		border-color: rgb(150,150,150);
		float: left !important;
	}

#nav ul{
  display: none;
}


